#notifications {
    top: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    pointer-events: none;
    width: 400px;
}

.notification {
    background:#e9ffd9 10px 50%;
    border:1px solid #a6ca8a;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.8) url(loader.gif) no-repeat center;
    pointer-events: none;
    z-index: 10000;
    display: none;
}

.loader.show {
    display: block;
}

.depList > table td {
    cursor: pointer;
}

form {
    margin: 5px 0;
    background-color: #ddd;
    border: 1px #aaa;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form > .title {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#appRoot {
    width: 768px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #appRoot {
        width: 95%;
    }
}